* {
	outline: 2px solid black;
}

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #1a1a1a;
}

.divsContainer {
	height: 80%;
	width: 80%;
	max-width: 800px;
	display: flex;
	flex-direction: column;
}