
body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #1a1a1a;
}

.divsContainer {
	outline: 2px solid black;
	background-color: lightgrey;
	height: 80%;
	width: 80%;
	max-width: 500px;
	max-height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.header {
	flex-grow: 2;
	font-weight: bolder;
}

.buttons-header {
	display: flex;
	gap: 30px;
}

buttons {
	font-weight: bolder;
	gap: 5px;
	background: royalblue;
	border-radius: 2px;
}

.screen {
	outline: 2px solid black;
	height: 100%;
	width: 100%;
	max-width: 500px;
	max-height: 500px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.grid-square {
	outline: 2px solid black;
	background-color: grey;
	flex: 1 0 auto;
	margin: 0;
}